n8n-whatsapp-workflow.json
{
  "name": "Sara Medical — WhatsApp Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sara-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sara-whatsapp-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "cond-event",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-own-messages",
      "name": "Filtrar: solo mensajes entrantes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-group",
              "leftValue": "={{ $json.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": { "type": "string", "operation": "contains", "rightType": "value" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-groups",
      "name": "Filtrar: excluir grupos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.data.message.conversation || $json.data.message.extendedTextMessage?.text || $json.data.message.buttonsResponseMessage?.selectedDisplayText || '' }}",
              "type": "string"
            },
            {
              "id": "assign-pushname",
              "name": "pushName",
              "value": "={{ $json.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "assign-instance",
              "name": "instanceName",
              "value": "={{ $json.instance || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "Extraer campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond-empty",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty-message",
      "name": "Filtrar: mensaje no vacío",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SARA_APP_URL }}/api/sara/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-secret", "value": "={{ $env.WHATSAPP_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.message }}" },
            { "name": "pushName", "value": "={{ $json.pushName }}" },
            { "name": "instanceName", "value": "={{ $json.instanceName }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "call-sara-api",
      "name": "Llamar a Sara Medical API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Extraer campos').item.json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extraer campos').item.json.phone }}\",\n  \"text\": \"{{ $json.reply }}\"\n}",
        "options": {}
      },
      "id": "send-whatsapp-reply",
      "name": "Enviar respuesta por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK a Evolution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ignored\": true }",
        "options": {}
      },
      "id": "respond-ignored",
      "name": "Ignorar mensaje",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [[{ "node": "Filtrar: solo mensajes entrantes", "type": "main", "index": 0 }]]
    },
    "Filtrar: solo mensajes entrantes": {
      "main": [
        [{ "node": "Filtrar: excluir grupos", "type": "main", "index": 0 }],
        [{ "node": "Ignorar mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar: excluir grupos": {
      "main": [
        [{ "node": "Ignorar mensaje", "type": "main", "index": 0 }],
        [{ "node": "Extraer campos", "type": "main", "index": 0 }]
      ]
    },
    "Extraer campos": {
      "main": [[{ "node": "Filtrar: mensaje no vacío", "type": "main", "index": 0 }]]
    },
    "Filtrar: mensaje no vacío": {
      "main": [
        [{ "node": "Llamar a Sara Medical API", "type": "main", "index": 0 }],
        [{ "node": "Ignorar mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Llamar a Sara Medical API": {
      "main": [[{ "node": "Enviar respuesta por WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar respuesta por WhatsApp": {
      "main": [[{ "node": "Responder OK a Evolution", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "sara-medical-whatsapp"
  }
}
