n8n-flows/doctor-patient-lead-notify.json
{
  "name": "Doctor — Notificación WhatsApp de Lead de Paciente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doctor-lead-REEMPLAZA_CON_TU_SLUG",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Webhook Lead Paciente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "doctor-lead-REEMPLAZA_CON_TU_SLUG"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del body del webhook\nconst raw = $input.first().json;\nconst d = raw.body ?? raw;\n\n// Mapeo de emojis por origen\nconst emoji = {\n  FORMULARIO: '📋',\n  CHAT:       '💬',\n  WHATSAPP:   '📱',\n  REFERIDO:   '🤝',\n  OTRO:       '📌',\n};\nconst src = emoji[d.source] ?? '📌';\n\nconst hora = d.timestamp\n  ? new Date(d.timestamp).toLocaleString('es-EC', { timeZone: 'America/Guayaquil' })\n  : new Date().toLocaleString('es-EC', { timeZone: 'America/Guayaquil' });\n\nconst lineas = [\n  '¡Hola! 👋 Tienes un nuevo lead de paciente en tu consultorio.',\n  '',\n  '🩺 *Datos del paciente interesado:*',\n  '',\n  `👤 *Nombre:* ${d.patientName ?? d.name ?? '—'}`,\n  d.patientPhone || d.phone ? `📞 *Teléfono:* ${d.patientPhone ?? d.phone}` : null,\n  d.patientEmail || d.email ? `📧 *Email:* ${d.patientEmail ?? d.email}`     : null,\n  d.message                 ? `💬 *Mensaje:* ${d.message}`                    : null,\n  `${src} *Origen:* ${d.source ?? '—'}`,\n  `🕐 *Fecha:* ${hora}`,\n  '',\n  '💡 _Responde pronto para aumentar la tasa de conversión._',\n].filter(l => l !== null);\n\nconst message = lineas.join('\\n');\n\n// IMPORTANTE: reemplaza el número con el WhatsApp del médico (código país + número sin +)\nconst doctorWhatsApp = 'REEMPLAZA_CON_NUMERO_DEL_MEDICO'; // ej: 593991234567\n\nreturn [{ json: { message, number: doctorWhatsApp } }];"
      },
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REEMPLAZA_CON_URL_EVOLUTION_API/message/sendText/REEMPLAZA_CON_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REEMPLAZA_CON_API_KEY_EVOLUTION"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "b1c2d3e4-0004-0004-0004-000000000004",
      "name": "Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    }
  ],
  "connections": {
    "Webhook Lead Paciente": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Formatear Mensaje", "type": "main", "index": 0 }
        ]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [
          { "node": "Enviar WhatsApp (Evolution API)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "sara-medical"
  }
}
