n8n-flows/flujo2-meta-leads.json
{
  "name": "Sara Medical — Meta Lead Ads a Dashboard y WhatsApp",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "node-meta-trigger-001",
      "name": "Facebook Lead Ads Trigger",
      "type": "n8n-nodes-base.facebookLeadAdsTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "pageId": "TU_PAGE_ID",
        "formId": "TU_FORM_ID"
      },
      "credentials": {
        "facebookLeadAdsOAuth2Api": {
          "id": "TU_CREDENTIAL_ID",
          "name": "Facebook Lead Ads account"
        }
      }
    },
    {
      "id": "node-set-meta-001",
      "name": "Normalizar Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f-01",
              "name": "name",
              "value": "={{ $json.full_name || $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "f-02",
              "name": "email",
              "value": "={{ $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "f-03",
              "name": "phone",
              "value": "={{ $json.phone_number || $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "f-04",
              "name": "specialty",
              "value": "={{ $json.specialty || $json.especialidad || '' }}",
              "type": "string"
            },
            {
              "id": "f-05",
              "name": "city",
              "value": "={{ $json.city || $json.ciudad || '' }}",
              "type": "string"
            },
            {
              "id": "f-06",
              "name": "source",
              "value": "INSTAGRAM",
              "type": "string"
            },
            {
              "id": "f-07",
              "name": "numero",
              "value": "593996691586",
              "type": "string"
            },
            {
              "id": "f-08",
              "name": "mensaje",
              "value": "=📲 *Nuevo Lead — Meta Ads*\n\n👤 *Nombre:* {{ $json.full_name || $json.name }}\n🏥 *Especialidad:* {{ $json.specialty || $json.especialidad || '—' }}\n📍 *Ciudad:* {{ $json.city || $json.ciudad || '—' }}\n📞 *Teléfono:* {{ $json.phone_number || $json.phone || '—' }}\n📧 *Email:* {{ $json.email || '—' }}\n🌐 *Origen:* Instagram / Facebook Ads\n\n👉 https://TU_DOMINIO/admin/leads",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-sara-api-001",
      "name": "Guardar en Sara Medical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 160],
      "parameters": {
        "method": "POST",
        "url": "https://TU_DOMINIO/api/leads/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "TU_LEADS_WEBHOOK_SECRET"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "={{ $json.name }}",
          "email": "={{ $json.email }}",
          "phone": "={{ $json.phone }}",
          "specialty": "={{ $json.specialty }}",
          "city": "={{ $json.city }}",
          "source": "={{ $json.source }}"
        },
        "options": {}
      }
    },
    {
      "id": "node-evo-meta-001",
      "name": "Enviar WhatsApp Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 440],
      "parameters": {
        "method": "POST",
        "url": "https://TU_EVO_API/message/sendText/TU_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "TU_APIKEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "number": "={{ $json.numero }}",
          "text": "={{ $json.mensaje }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Facebook Lead Ads Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Campos": {
      "main": [
        [
          {
            "node": "Guardar en Sara Medical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar WhatsApp Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
