n8n-flows/flujo1-landing-whatsapp.json
{
  "name": "Sara Medical — Lead Landing a WhatsApp",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "node-webhook-001",
      "name": "Recibir Lead de Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-lead-notify",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "node-set-001",
      "name": "Armar Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "msg-001",
              "name": "numero",
              "value": "593996691586",
              "type": "string"
            },
            {
              "id": "msg-002",
              "name": "mensaje",
              "value": "=🔔 *Nuevo Lead — Sara Medical*\n\n👤 *Nombre:* {{ $json.body.name }}\n🏥 *Especialidad:* {{ $json.body.specialty }}\n📍 *Ciudad:* {{ $json.body.city }}\n📞 *Teléfono:* {{ $json.body.phone }}\n📧 *Email:* {{ $json.body.email }}\n🌐 *Origen:* {{ $json.body.source }}\n📅 {{ $json.body.date }}\n\n👉 https://TU_DOMINIO/admin/leads",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-evo-001",
      "name": "Enviar WhatsApp Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "https://TU_EVO_API/message/sendText/TU_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "TU_APIKEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "number": "={{ $json.numero }}",
          "text": "={{ $json.mensaje }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Recibir Lead de Landing": {
      "main": [
        [
          {
            "node": "Armar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Mensaje": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
