n8n-flows/lead-whatsapp-notify.json
{
  "name": "Sara Medical — Notificación WhatsApp de Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sara-lead-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sara-lead-notify"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst emoji = {\n  LANDING: '🌐',\n  INSTAGRAM: '📸',\n  FACEBOOK: '👤',\n  WHATSAPP: '💬',\n  GOOGLE: '🔍',\n  REFERIDO: '🤝',\n  OTRO: '📌',\n};\nconst src = emoji[d.source] ?? '📌';\nconst campaign = d.campaign ? `\\n📁 Campaña: ${d.campaign}` : '';\nconst utm = d.utmSource && d.utmSource !== 'directo' ? `\\n🔗 UTM: ${d.utmSource}` : '';\n\nconst msg = [\n  '🩺 *Nuevo Lead — Sara Medical*',\n  '',\n  `👤 *Nombre:* ${d.name}`,\n  d.phone    ? `📞 *Teléfono:* ${d.phone}`    : null,\n  d.email    ? `📧 *Email:* ${d.email}`        : null,\n  d.specialty? `🏥 *Especialidad:* ${d.specialty}` : null,\n  d.city     ? `📍 *Ciudad:* ${d.city}`        : null,\n  `${src} *Fuente:* ${d.source}${campaign}${utm}`,\n  `🕐 *Fecha:* ${d.date ?? new Date().toLocaleString('es-EC', { timeZone: 'America/Guayaquil' })}`,\n  '',\n  '💡 _Responde pronto para aumentar la tasa de conversión._',\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { message: msg, phone: '593996691586' } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/={{ $vars.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Formatear Mensaje", "type": "main", "index": 0 }
        ]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [
          { "node": "Enviar WhatsApp (Evolution API)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sara-medical"
  },
  "__CONFIGURACION__": {
    "instrucciones": [
      "1. Importa este JSON en n8n (Workflows → Import from file)",
      "2. Ve a Settings → Variables y crea 3 variables:",
      "   - EVOLUTION_API_URL: URL de tu Evolution API (ej: https://evolution.tudominio.com)",
      "   - EVOLUTION_INSTANCE: nombre de la instancia (ej: Nexus)",
      "   - EVOLUTION_API_KEY: tu API key de Evolution",
      "3. Activa el workflow y copia la URL del nodo 'Webhook Lead'",
      "4. Pega esa URL en .env como: N8N_LEAD_NOTIFY_URL=https://tu-n8n.com/webhook/sara-lead-notify",
      "5. Reinicia el servidor Next.js"
    ],
    "numero_emisor": "+593978815129 (Nexus en Evolution API)",
    "numero_receptor": "+593996691586 (Luis — admin)"
  }
}
