n8n-flows/lead-whatsapp-notify.json
{
  "name": "Sara Medical — Notificación WhatsApp de Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-landing-sara-medical",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "formulario-landing-sara-medical"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "// En n8n el body del webhook viene dentro de .body\nconst raw = $input.first().json;\nconst d = raw.body ?? raw;\n\nconst emoji = {\n  LANDING: '🌐',\n  INSTAGRAM: '📸',\n  FACEBOOK: '👤',\n  WHATSAPP: '💬',\n  GOOGLE: '🔍',\n  REFERIDO: '🤝',\n  OTRO: '📌',\n};\nconst src = emoji[d.source] ?? '📌';\nconst campaign = d.campaign ? `\\n📁 Campaña: ${d.campaign}` : '';\nconst utm = (d.utmSource && d.utmSource !== 'directo') ? `\\n🔗 UTM: ${d.utmSource}` : '';\n\nconst lineas = [\n  '🩺 *Nuevo Lead — Sara Medical*',\n  '',\n  `👤 *Nombre:* ${d.name ?? '—'}`,\n  d.phone     ? `📞 *Teléfono:* ${d.phone}`       : null,\n  d.email     ? `📧 *Email:* ${d.email}`           : null,\n  d.specialty ? `🏥 *Especialidad:* ${d.specialty}` : null,\n  d.city      ? `📍 *Ciudad:* ${d.city}`           : null,\n  `${src} *Fuente:* ${d.source ?? '—'}${campaign}${utm}`,\n  `🕐 *Fecha:* ${d.date ?? new Date().toLocaleString('es-EC', { timeZone: 'America/Guayaquil' })}`,\n  '',\n  '💡 _Responde pronto para aumentar la tasa de conversión._',\n].filter(l => l !== null);\n\nconst message = lineas.join('\\n');\n\nreturn [{ json: { message, number: '593996691586' } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.nexus-ia.com.es/message/sendText/nexus-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "DC49FCD859B0-4CBA-B1B2-B2A982994D64"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Formatear Mensaje", "type": "main", "index": 0 }
        ]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [
          { "node": "Enviar WhatsApp (Evolution API)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "sara-medical"
  }
}
