n8n-flows/stefy-form-lead-notify.json
{
  "name": "Dra. Medrano — Notificación Lead Formulario Público",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stefy-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Lead Medrano",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "stefy-form"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body ?? raw;\n\nconst emoji = {\n  FORMULARIO: '📋',\n  CHAT:       '💬',\n  WHATSAPP:   '📱',\n  REFERIDO:   '🤝',\n  OTRO:       '📌',\n};\nconst src = emoji[d.source] ?? '📌';\n\nconst hora = d.timestamp\n  ? new Date(d.timestamp).toLocaleString('es-EC', { timeZone: 'America/Guayaquil' })\n  : new Date().toLocaleString('es-EC', { timeZone: 'America/Guayaquil' });\n\nconst lineas = [\n  `¡Hola, Dra. Medrano! 👋 Tienes un nuevo lead de paciente.`,\n  '',\n  '🩺 *Datos del paciente interesado:*',\n  '',\n  `👤 *Nombre:* ${d.patientName ?? d.name ?? '—'}`,\n  d.patientPhone || d.phone ? `📞 *Teléfono:* ${d.patientPhone ?? d.phone}` : null,\n  d.patientEmail || d.email ? `📧 *Email:* ${d.patientEmail ?? d.email}` : null,\n  d.message ? `💬 *Mensaje:* ${d.message}` : null,\n  `${src} *Origen:* ${d.source ?? '—'}`,\n  `🕐 *Fecha:* ${hora}`,\n  '',\n  '💡 _Responde pronto para aumentar la tasa de conversión._',\n].filter(l => l !== null);\n\nconst message = lineas.join('\\n');\n\n// WhatsApp personal de la Dra. Medrano (sin + ni espacios)\nconst number = '593982678350';\n\nreturn [{ json: { message, number } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.nexus-ia.com.es/message/sendText/Sara",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "F84852BAD920-4337-B1A7-5503806626FB"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Enviar WhatsApp (Sara)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    }
  ],
  "connections": {
    "Webhook Lead Medrano": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Formatear Mensaje", "type": "main", "index": 0 }
        ]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [
          { "node": "Enviar WhatsApp (Sara)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "bc504da49cf67b89ef2d023c12a319a78d560201cecf783b6d241c9ab4f83aeb"
  }
}
